#navbar {
  position: absolute;
  display: block;
  float: left;
  clear: both;
  padding: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
  background-color: transparent;
  background-image: none;
  border-color: rgba(0,0,0,0);
}

.container {
  width: 100%;
}

.contenido-slider {
  text-align: center;
}

#texto {
  display: inline-block;
}

#box{
  padding: 0;
  background-color: black;
  text-align: center;
}


h2{
  z-index: 2;
    position: absolute;
    top: 50%;
    background: transparent;
  font-family:'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  color:white;
  
}




img{
  z-index: 2;
  margin: 0;
  padding: 0;
}

.imagenes{
  opacity: 0.5;
}